<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CapitalEDI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EDIWebServiceSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="EDIWebServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EDIWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.ecod.pl/webserv2/EDIservice.asmx" binding="basicHttpBinding" bindingConfiguration="EDIWebServiceSoap" contract="ServiceReference.EDIWebServiceSoap" name="EDIWebServiceSoap" />
      <endpoint address="https://www.ecod.pl/webserv2/EDIservice.asmx" binding="customBinding" bindingConfiguration="EDIWebServiceSoap12" contract="ServiceReference.EDIWebServiceSoap" name="EDIWebServiceSoap12" />
    </client>
  </system.serviceModel>
  <userSettings>
    <CapitalEDI.Properties.Settings>
        <setting name="LoginWebService" serializeAs="String">
            <value>4829900014964EC</value>
        </setting>
        <setting name="PasswordWebService" serializeAs="String">
            <value>bqvQk40</value>
        </setting>
        <setting name="ConnectionDataBase" serializeAs="String">
            <value />
        </setting>
        <setting name="DefaultDirection" serializeAs="String">
            <value>48</value>
        </setting>
    </CapitalEDI.Properties.Settings>
  </userSettings>
</configuration>